html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 80px;
}

.header{
    background-color: rgb(72, 72, 72);
    display: flex;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.header-img{
    display: flex;
    justify-items: center;
    align-items: center;
    font-size: 2rem;
    font-style: oblique;
}

.header-img img{
    width: 10rem;
}

.header-img a{
    text-decoration: none;
    transition: all 0.7s ease;
}

.header-img a:hover{
    text-decoration: none;
    transform: scale(1.5);
}

ul{
    display: flex;
    list-style: none;
    margin-right: 10rem;
    padding: 1rem;
}

ul li{
    margin-left: 1rem;
    transition: all 0.3s ease;
}

li:hover{
    transform: scale(1.1);
}

a{
    color: rgb(0,0,0);
    text-decoration: underline;
    transition: all 0.3s ease;
}
a:hover{
    color: rgb(255, 255, 255);
}

.main-container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin:1rem 0;
}

#producto{
    text-align: center;
    font-size: 3rem;
    color: rgb(0, 26, 122);
    text-decoration: underline;
}

.card-presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background: linear-gradient(45deg, rgb(0, 26, 122), rgb(11, 59, 202));
    width: 100%;
    height: 40vh;
    box-shadow: 0 10px 12px rgb(11, 59, 202);
}

.card-presentation h1{
    font-size: 5rem;
    color: rgb(255, 255, 255);
    margin: auto;
    font-style: oblique;
}

.card-presentation h2{
    margin-top: 2rem;
    color: rgb(78, 90, 126);
}

.btn-container{
    width: 30%;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: space-around;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin: 1rem;
}

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background:linear-gradient(0, rgb(134, 117, 117),rgb(255,255,255));
    border-radius: 1rem;
    box-shadow: 10px 10px 10px #ddd;
    text-align: left;
    min-width: 20vh;
    min-height: 50vh;
    transition: all 0.5s ease;
}

.product *{
    text-align: center;
    width: 80%;
}

.product img {
    margin-top: 1rem;
    width: 15rem;
    height: 15rem;
}

.product div{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: blue;
}

.product div strong{
    background-color: blue;
    width: 40%;
    padding: .4rem 0;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    
}

.button{
    width: 30%;
    padding: .5rem;
    border-radius: 5px;
    border: none;
    background-color: blue;
    color: rgb(255,255,255);
}

.button:hover{
    cursor: pointer;
    background: linear-gradient(45deg, rgb(0, 26, 122), rgb(11, 59, 202));
}

.button-productos{
    user-select: none;
    padding: .5rem;
    border-radius: 2rem;
    border: none;
    background:linear-gradient(0, rgb(134, 117, 117),rgb(255,255,255));
    color: rgb(255,255,255);
    text-decoration: none;
    margin: 5rem 0;
    transition: all 0.5s ease;
}

.button-products-types{
    user-select: none;
    width: 6rem;
    padding: .5rem;
    border-radius: 2rem;
    border: none;
    background:linear-gradient(0, rgb(134, 117, 117),rgb(255,255,255));
    color: rgb(255,255,255);
    text-decoration: none;
    transition: all 0.5s ease;
}

.button-productos:hover{
    transform: scale(1.5);
}

.button-products-types:hover{
    transform: scale(1.1);
}

.product:hover{
    transform: scale(1.1);
}

footer{
    background-color: rgb(72, 72, 72);
    padding: 1rem;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: auto;
}

hr{
    background-color: rgb(255, 255, 255);
    margin-bottom: 1rem;
}

.footer-document{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer-img{
    display: flex;
    justify-items: center;
    align-items: center;
    width: 40vh;
}

.footer-img p{
    text-align: left;
}

.footer-img img{
    height: 10rem;
}